.buttonList{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.button{
    padding: 4px 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: transparent;
    color: #333;
    cursor: pointer;
    transition: all 0.3s ease;
    text-transform: capitalize;
}

.button:hover {
    background-color:cornflowerblue;
}